/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*  Font styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #ce6e6e;
}

.btn-primary {
    border-radius: 8px;
    color: green;
    font-size: 1.25rem;
    background: #55eef8;
    padding: 20px 25px;
    color: green;
    cursor: pointer;
    border: 0;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* Header  */

header {
    background: rgba(219, 248, 53, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner part */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}